.light {
    //Important text, buttons, gradients
    --primary: #240d57;
    --primary-2: #501fc1;
    --primary-3: #8456ec;
    --primary-4: #e87bf8;
    //Secondary purples
    --secondary: #ccb6ff;
    --secondary-2: #ede5ff;
    --secondary-3: #f6f2ff;
    //Alert colours
    --alert: #ffd7e0;
    --alert-2: #e61445;
    --success: #d3ffe2;
    --success-2: #00805e;
    //Neutrals for general text and backgrounds
    --neutral: #4f4f4f;
    --neutral-2: #828282;
    --neutral-3: #bdbdbd;
    --neutral-4: #e0e0e0;
    --neutral-5: #f2f2f2;
    --neutral-6: #bdbdbd;
}
